# Arquivos e pastas de Modelos de Machine Learning
/backend/modelos/
*.bin
*.pt
*.pth
*.h5

# Ambientes virtuais
venv*/
.vscode/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Ambiente local
.env
.env.*

# Arquivos temporários
*.tmp
*.bak

# Sistema operacional
.DS_Store
Thumbs.db

# Streamlit
.streamlit/